<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookPages</key>
	<array>
		<dict>
			<key>backgroundImage</key>
			<string>PageBackgroundImage.jpg</string>
			<key>utterances</key>
			<array>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<integer>1</integer>
						<key>rate</key>
						<real>1.2</real>
					</dict>
					<key>utteranceString</key>
					<string>Whisky,</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>1.2</real>
					</dict>
					<key>utteranceString</key>
					<string> frisky,</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>1.2</real>
					</dict>
					<key>utteranceString</key>
					<string> hippity</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>1.2</real>
					</dict>
					<key>utteranceString</key>
					<string> hop.</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.25</real>
						<key>rate</key>
						<real>0.25</real>
					</dict>
					<key>utteranceString</key>
					<string> Up</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.25</real>
					</dict>
					<key>utteranceString</key>
					<string> he</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.1</real>
					</dict>
					<key>utteranceString</key>
					<string> goes</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.1</real>
					</dict>
					<key>utteranceString</key>
					<string> to</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> the</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.2</real>
					</dict>
					<key>utteranceString</key>
					<string> tree</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> top.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>backgroundImage</key>
			<string>PageBackgroundImage.jpg</string>
			<key>utterances</key>
			<array>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>1.3</real>
					</dict>
					<key>utteranceString</key>
					<string>Whirly,</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>1.3</real>
					</dict>
					<key>utteranceString</key>
					<string> twirly,</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> round</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> and</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.25</real>
						<key>rate</key>
						<real>0.5</real>
					</dict>
					<key>utteranceString</key>
					<string> round.</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> Down</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.2</real>
					</dict>
					<key>utteranceString</key>
					<string> he</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.6</real>
					</dict>
					<key>utteranceString</key>
					<string> scampers</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>0.2</real>
					</dict>
					<key>utteranceString</key>
					<string> to</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> the</string>
				</dict>
				<dict>
					<key>utteranceProperties</key>
					<dict>
						<key>pitchMultiplier</key>
						<real>1.2</real>
						<key>rate</key>
						<real>0.3</real>
					</dict>
					<key>utteranceString</key>
					<string> ground.</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
